<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Edit "{{ post['title'] }}" {% endblock %}</h1>
    <form method="post">
        <label for="title">Title</label>
        <br>
        <input type="text" name="title"
               placeholder="Zertifizierung"
               value="{{ request.form['title'] or post['title'] }}"></input>
        <br>

        <label for="content">Post Content</label>
        <br>
        <textarea name="content"
                  placeholder="Beschreibung"
                  rows="4"
                  cols="40"
                  >{{ request.form['content'] or post['content'] }}</textarea>
        <br>
        <button type="submit">Übermitteln</button>
    </form>

    <hr>
    <form action="{{ url_for('delete', id=post['id']) }}" method="POST">
        <input type="submit" value="Eintrag löschen"
                onclick="return confirm('Sind Sie sicher, dass der Eintrag gelöscht werden soll?')">
    </form>
{% endblock %}